<div *ngIf="!formSubmitted">
    <form (ngSubmit)="submitTest()" [formGroup]="questionsForm">
        <div *ngFor="let question of questions; let i=index">
            <p>{{ i + 1 }}. {{ question.question }}</p>
            
            <div *ngFor="let choice of question.choices">
                <input type="radio" [formControlName]="'question' + question.id" [value]="choice"> <span> {{ choice }} </span>
            </div>
        </div>
        <input type="submit" text="Submit">
    </form>
</div>

<app-results *ngIf="formSubmitted"
    [questions]="questions"
    [questionsType]="questionsType"
    [answers]="givenAnswers"
    [formSubmitted]="formSubmitted"
    [score]="score"
    [mapping]="indexToId"
    [correctQuestions]="correctQuestions"
></app-results>