<p>test-questions works!</p>

<form (ngSubmit)="submitTest()" [formGroup]="questionsForm">
    <div *ngFor="let question of questions">
        <p>{{ question.question }}</p>
        <div *ngFor="let choice of question.choices">
            <input type="radio" [formControlName]="'question' + question.id" [value]="choice"> <span> {{ choice }} </span>
        </div>
    </div>
    <input type="submit" text="Submit">
</form>

<p *ngIf="score">Your score is: {{ score }}</p>
<button *ngIf="questionsType === 'preLesson' && score" routerLink="/lesson">Next</button>    